.body{
    background: var(--gray50);
    color: var(--gray10);
    font: var(--baseFont);
    margin: 0;
    overflow: hidden;
}
h1{
   font: var(--headLine1); 
}

a{
    color: var(--white);
    text-decoration: none;
}
