
.playlist2-top{
    display: flex;
    margin-inline-start:1.375rem ;
    gap: 1.5rem;
}
.playlist2-top .playlist-information{
    align-items: flex-start;
}
.playlist2-cover img{
    inline-size:19.5rem;
    block-size: 11.4375rem;
    object-fit: cover;
}
