.playlist-top, .playlist-information{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.playlist-name{
    color: var(--white);
    font: var(--headLine1);
    margin: 0;
}
.playlist-band{
    margin: 0;
}
.playlist-information{
    margin-block-start: 1rem;
}
.playlist-follow{
    margin-block-start: 0;
}


