.playlistB{ 
    display: flex;
    inline-size: 17.5rem;
    border-radius: .5rem;
    overflow: hidden;
    background: rgba(255, 255, 255, .1);
    transition: .3s background;
    flex-shrink: 0;
    
}
.playlistB:hover, .playlistB:focus-within{
    background: rgba(255, 255, 255, .2)
}

.playlistB-details{
    display: grid;
    padding-inline: 1rem;
    align-items: center;
    grid-template-columns: 1fr auto;
}
.playlistB-title{
    font: var(--baseFontBold);
    color: var(--white);
    margin:0;
    display: inline-block;
}
.playlistB-cover img{
    vertical-align: middle;
    inline-size: 4.75rem;
    block-size: 4.75rem;
}
.playlistB-control{
    opacity: 1;
    justify-self: flex-end;
}
.playlistB:hover .playlistB-control, 
.playlistB:focus-within .playlistB-control{
    opacity: 1;
    transition: .3s;
}