@import './playlistList.css';
@import './playlist-table.css';
.background{
    background: no-repeat url(../img/image\ 1.png);
    min-width: 100% !important;
}

.playlist{
    display: grid;
}
.playlist-top{
    margin-block-start: 5.4375rem;
    margin-block-end: 1rem;
}
.playlist-body{
    margin-block-start: 1rem;
}
